@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.container {
  min-height: 90vh;
  min-width: 100%;
  background-image: url("./assets/Images/background-image.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 700px;
  min-height: 75vh;
  background-color: rgb(249 247 247 / 50%);
  border-radius: 150px;
  transform: translateX(-300%);
}
