@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.container {
  min-height: 90vh;
  min-width: 100%;
  background-image: url("./assets/Images/background.jpg");
  background-size: cover;
  background-position: center;
}

.card {
  width: 600px;
  min-height: 60vh;
  background-color: #c4c4c4;
  border-radius: 150px;
  transform: translateX(-300%);
}
