<div class="navbar"
     flex
     fxLayout="row"
     fxLayout.lt-sm="column"
     fxLayoutAlign.lt-sm="center center">
  <h1 (click)="goTo('/')" fxFlex="30">Weather App</h1>
  <div fxFlex="70" class="nav-actions">
    <ul class="nav-list">
      <li><a (click)="goTo('/')">Home</a></li>
      <li><a (click)="goTo('/weather-search')">Weather Search</a></li>
      <li><a (click)="goTo('/weather-filter')">WeatherFilter</a></li>
      <li><a (click)="goTo('/weather-grid')">Weather Grid</a></li>
    </ul>
  </div>
</div>
