<div fxLayout="row wrap"
     fxLayoutGap="32px"
     fxLayoutAlign="center center"
     class="container">

  <form [formGroup]="formfilter" class="form">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
          <label>City Name</label>
        </div>
        <div class="col-sm-4">
          <select [(ngModel)]="selectCity" class="form-control" formControlName="cityName" required>
            <option value="">-Please select-</option>
            <option *ngFor="let cityName of _cityNames" [value]="cityName.name">
              {{cityName.name}}
            </option>
          </select>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
          <button class="button" mat-raised-button color="primary" routerLink="/edit-weather-grid" >
            6 Days Weather Forecast
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
