<div fxLayout="row wrap"
     fxLayoutGap="32px"
     fxLayoutAlign="center center"
     class="container">
  <mat-spinner *ngIf="showLoadingSpinner == true"
               class="loading-spinner"></mat-spinner>
  <mat-card *ngIf="showLoadingSpinner == false"
            [@slideInOut]="state"
            class="card card-weatherDetails">
    <div *ngIf="showError == true" class="errorMessage">
      <h1>
        {{ errorMessage }}
      </h1>
      <button mat-fab
              color="primary"
              class="btn-goBack btn-inerror"
              (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <div class="card-upperContent" *ngIf="showError == false">
      <div class="upperContent-btns">
        <button mat-fab color="primary" class="btn-goBack" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h1>{{ weatherDetails.name }}</h1>
        <button mat-raised-button
                color="primary"
                class="btn-lngForecast"
                (click)="getFiveDaysForecast()">
          6 days forecast
        </button>
      </div>

      <img class="img-weatherCondition" [src]="currentWeatherImage" alt="" />
      <p>{{ weatherDetails.weather[0].description }}</p>
    </div>
    <div class="weatherDetails" *ngIf="showError == false">
      <div class="weatherDetails-item">
        <div class="weatherDetails-item-container">
          <h2>Temperature</h2>
          <div class="weatherDetails-content">
            <img src="../../assets/Images/weatherIcons/tempC.png" />
            <p>{{ weatherDetails.main.tempC }}</p>
          </div>
          <div class="weatherDetails-content">
            <img src="../../assets/Images/weatherIcons/tempF.png" />
            <p>{{ weatherDetails.main.temp }}</p>
          </div>
        </div>
        <div class="weatherDetails-item-container">
          <h2>Wind</h2>
          <div class="weatherDetails-content">
            <img src="../../assets/Images/weatherIcons/windSpeed.png" />
            <p>{{ weatherDetails.wind.speed }}m/s</p>
          </div>
          <div class="weatherDetails-content">
           <!-- <img [src]="windDegImageUrl" />-->
            <p>{{ weatherDetails.wind.deg }}</p>
          </div>
        </div>
      </div>
      <div class="weatherDetails-item">
        <div class="weatherDetails-item-container">
          <h2>Pressure</h2>
          <div class="weatherDetails-content">
            <img src="../../assets/Images/weathericons/pressure.png" />
            <p>{{ weatherDetails.main.pressure }}</p>
          </div>
          <div class="weatherDetails-content">
            <img src="../../assets/Images/weatherIcons/humidity.png" />
            <p>{{ weatherDetails.main.humidity }} %</p>
          </div>
        </div>
        <div class="weatherDetails-item-container">
          <h2>Sunrise/set</h2>
          <div class="weatherDetails-content">
            <img src="../../assets/Images/weatherIcons/sunrise.png" />
            <p>{{ weatherDetails.sys.sunriseTime }}</p>
          </div>
          <div class="weatherDetails-content">
            <img src="../../assets/Images/weatherIcons/sunset.png" />
            <p>{{ weatherDetails.sys.sunsetTime }}</p>
          </div>
        </div>
      </div>
      <div class="weatherDetails-item">
        <div class="weatherDetails-item-container">
          <h2>Visibility</h2>
          <div class="weatherDetails-content">
            <img src="../../assets/Images/weatherIcons/visibility.png" />
            <p>{{ weatherDetails.visibility }} m</p>
          </div>
        </div>
        <div class="weatherDetails-item-container">
          <h2>City Details</h2>
          <div class="weatherDetails-content">
            <img src="../../assets/Images/weatherIcons/country.png" />
            <p>{{ weatherDetails.sys.country }}</p>
          </div>
          <div class="weatherDetails-content">
            <p class="city-details-lonlan">
              lon {{ weatherDetails.coord.lon }} lan
              {{ weatherDetails.coord.lat }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
