<div fxLayout="row wrap"
     fxLayoutGap="32px"
     fxLayoutAlign="center center"
     class="container">
  <mat-card [@slideInOut]="state" class="card" id="cardform">
    <mat-card-header class="card-header">
      <mat-card-title class="title">Welcome to the weather app !!!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="showError" style="color: red;">
        {{errorMessage}}
      </p>

      <form [formGroup]="editForm" class="form">
        <mat-form-field class="full-width">
          <mat-label>City</mat-label>
          <input matInput
                 [formControl]="editForm.get('cityName')"
                 autocomplete="off"
                 placeholder="Type your city name..." />
        </mat-form-field>
        <!--<mat-form-field class="cityid-input">
          <mat-label>City ID</mat-label>
          <input [formControl]="form.get('cityID')"
                 matInput
                 autocomplete="off"
                 placeholder="Type your city id..." />
          <mat-icon (click)="goToCityIDs()" matSuffix>contact_support</mat-icon>
        </mat-form-field>-->
        <!--<p class="divider">Or use city goegraphic location:</p>-->
        <!--<table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="">
                <mat-label>Longitude</mat-label>
                <input [formControl]="editForm.get('cityLongitude')"
                       matInput
                       autocomplete="off" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="">
                <mat-label>Latitude</mat-label>
                <input [formControl]="editForm.get('cityLatitude')"
                       matInput
                       autocomplete="off" />
              </mat-form-field>
            </td>
          </tr>
        </table>

        <button class="button" mat-raised-button [color]="color" (click)="getLocation()">
          Use my location
        </button>-->
      </form>
    </mat-card-content>
    <br />
    <mat-card-actions class="action" fxLayoutAlign="center start">
      <button (click)="onSubmit()" mat-raised-button [color]="color">
        Update
      </button>
    </mat-card-actions>
  </mat-card>
</div>
